/*
White: FFFFFF;
Dark Blue: 2B57A1;
Medium Blue: 537AD3;
Orange: EFA03E;
Green: 1BBFAB;
Lime: #7FBA49;
Purple: 3E41A8;
*/

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    width: 100%;
    margin: 0;
}

nav {
    background-color: #2B57A1;  /* dark blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    color: #FFFFFF;  /* white */
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
}

.nav-links a {
    color: #FFFFFF;  /* white */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 1.6rem;
}

header {
    color: #FFFFFF;  /* white */
    padding: 4rem 2rem;
    background-color: #2B57A1;  /* dark blue */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 7rem;
    font-family: 'Poppins', sans-serif;
    line-height: 140%;
    margin: 0;
}

.dog-showcase {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 0.8rem solid #537AD3;
}

.dog-showcase img {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: -8%;
}

section {
    padding: 2rem 4rem;
}

h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

section h2 {
    text-align: center;
}

.pups-container {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.pup-wrapper {
    width: 40rem;
    height: 20rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);

    display: flex;
    overflow: hidden;
    margin-bottom: 2rem;
}

.pup-pic {
    width: 20rem;
    height: 20rem;

    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
}

#pup-1 {
    border: 0.3rem solid #1BBFAB;  /* green */
}

#pup-1 .pup-pic {
    background-image: url('./images/pup_1.jpeg');
}

#pup-2 {
    border: 0.3rem solid #3E41A8;  /* purple */
}

#pup-2 .pup-pic {
    background-image: url('./images/pup_2.webp');
}

#pup-3 {
    border: 0.3rem solid #7FBA49;  /* lime */
}

#pup-3 .pup-pic {
    background-image: url('./images/cat_1.jpeg');
}

#pup-4 {
    border: 0.3rem solid #EFA03E;  /* orange */
}

#pup-4 .pup-pic {
    background-image: url('./images/pup_4.jpg');
}

.pup-info {
    padding: 1rem 2rem;
}

.pup-name {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
}

.pup-byline,
.pup-location {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4rem;
}

footer {
    background-color: #2B57A1;  /* dark blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}

footer .address,
footer .email {
    font-size: 1.6rem;
}

/* For iPad */
@media screen and (max-width: 999px) {
    h1 {
        font-size: 5rem;
    }

    .dog-showcase {
        width: 30rem;
        height: 30rem;
    }

    .pups-container {
        width: 80%;
    }

    .pup-wrapper {
        width: 20rem;
        height: 30rem;
        flex-direction: column;
    }
}

/* For Mobile */
@media screen and (max-width: 760px) {
    .nav-links {
        display: none;
    }

    #main {
        flex-direction: row-reverse;
        padding: 4rem 0.5rem;
    }

    #main div:first-child {
        width: 50%;
    }

    h1 {
        font-size: 2.8rem;
    }

    .dog-showcase {
        width: 35%;
        height: auto;
    }

    .pups-container {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }
}
